<div class="register-wrapper">
  <form id="loginFormContent">
    <div class="pokemon-clicker">
      <div class="head-login">
        <p>Pokemon Clicker</p>
      </div>
      <div class="nav-login-wrapper">
        <a routerLink="/sign-in">Sign In</a>
        <a routerLink="/sign-up">Sign Up</a>
      </div>
    </div>

    <div class="input-block">
      <div class="login-block">
        <p class="login-p">Login</p>
        <input class="input-login"  placeholder="Input login">
      </div>
      <div class="password-block">
        <p class="login-p">Password</p>
        <input class="input-login" placeholder="Input password">
      </div>
      <div class="password-rep-block">
        <p class="login-p">Password confirmation</p>
        <input class="input-login"  placeholder="Input password again">
      </div>
    </div>
    <button class="button-sign-in" type="submit"> Sign in</button>
  </form>
</div>



