@import url('https://fonts.googleapis.com/css?family=Poppins');

*:focus {
  outline: none;
}

.register-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.24);
  min-height: 100svh;
}

