/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;

}

body, html {
  min-height: 100vh;
}

.underline-hover {
  color: rgba(110, 110, 110, 0.62);

  &:after {
    display: block;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width .5s;
  }

  &:hover {
    color: #0d0d0d;

    &:after {
      width: 100%;
    }
  }
}
